.menuderoulant {
    height: 60px;
    list-style: none;
    padding: 10px;
    margin: 40px;
  }
  
  .menuderoulant li {
    float: left;
    width: 200px;
  }
  
  .menuderoulant li a:link, .menuderoulant li a:visited {
    display: block;
    color: #ffffff
    background-color: #45aaf2;
    padding: 6px 10px;
    border-right: 1px solid #ffffff;
    text-align: center;
    text-decoration: none;
  }
  
  .menuderoulant li a:hover {background-color: #45aaf2;}
  .menuderoulant li a:active {background-color: #45aaf2;}
  
  .menuderoulant .sousmenu {
    list-style: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
  }
  
  .menuderoulant .sousmenu li {
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  
  .menuderoulant .sousmenu li a:link, .menuderoulant li a:visited {
    display: block;
    color: #ffffff;
    text-decoration: none;
    background-color: #45aaf2;
  }
  
  .menuderoulant .sousmenu li a:hover {
    background-color: #45aaf2;
  }
  
  .menuderoulant li:hover .sousmenu {
    display: block;
  }